{% extends 'base.html' %}
{% block title %}

{% endblock %}

{% block body %}
<a href="/">Home</a>
{{author.author}} {{book.title}}
<form  method = "POST" name = "updBook">
    <p><input type ="text" name ="author" value = "{{author.author}}" size = "50" placeholder="ФИО автора"></p>
    <p><input type ="text" name ="title" value = "{{book.title}}"
        size = "50" placeholder="Название книги"></p>
    <p><input type="submit" value="Отправить"> <input type="reset" value="Очистить"></p>
</form>
{% endblock body %}